.list-container {
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

table div {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table div:hover {
  background-color: #f9f9f9;
}

table div span {
  font-weight: bold;
  color: #ff5a5f;
}

table div .div-delete {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

table div .div-delete app-delete-user {
  display: inline-block;
}

table div .div-delete a {
  color: #ff5a5f;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

div:not(:last-child) {
  margin-bottom: 10px;
}
